<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <body>
    <!-- Form --->
    <form
      class="position-absolute top-50 start-50 translate-middle bg-light p-4 border rounded"
      method="post"
      action="/register"
    >
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="username" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
        />
      </div>
      <div>
        <div class="mb-3">
          <label for="password" class="form-label">Confirm Password</label>
          <input
            type="password"
            name="confirmPassword"
            class="form-control"
            id="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
